.memory-pic {
    width: 450px;
    height: auto;
    border-radius: 14px;
    max-height: 350px;
    object-fit: cover;
    display: block;
}

/* text */
.memory-text {
    font-size: 20px;
    color: white;
    line-height: 1.45;
    max-width: 400px;
}


/* ===== MOBILE RESPONSIVE ===== */
@media(max-width:600px) {

    .memory-row {
        flex-direction: column !important;
        text-align: center !important;
    }

    .memory-pic {
        width: 95vw;
        max-height: 260px;
        border-radius: 12px;
        margin-bottom: 12px;
    }

    .memory-text {
        font-size: 17px;
        max-width: 95vw;
        padding: 0 10px;
    }

    #feedback-box {
        position: fixed !important;
        bottom: 20px !important;
        right: 20px !important;
    }
}

/* FEEDBACK BOX DEFAULT */
#feedback-box {
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 9999;
}

/* feed responsive fix */

.memory-pic {
    width: 280px;
    height: 280px;
}

@media(max-width:600px) {
    .memory-row {
        flex-direction: column !important;
        /* image top + text below */
        gap: 20px;
        margin: 80px 0;
        text-align: center;
    }

    .memory-pic {
        width: 90%;
        height: auto;
        border-radius: 18px;
    }

    .memory-text {
        width: 90%;
        font-size: 17px;
        margin: auto;
    }

    #feedback-box {
        position: fixed;
        bottom: 15px;
        right: 15px;
    }
}