/* ===== FEEDBACK BOX DEFAULT ===== */
#feedback-box {
    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 9999;
}

/* OPTIONAL - feedback mobile adjust */
@media(max-width:600px) {
    #feedback-box {
        bottom: 15px;
        right: 15px;
    }
}