<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>MEMORIES</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background: url("https://res.cloudinary.com/duwa63yb4/image/upload/v1762522834/expand_this_image_in_yexl3g.png") center/cover no-repeat;
            background-attachment: fixed;
            backdrop-filter: blur(8px);
        }

        nav a {
            color: white;
            font-weight: 600;
            margin-right: 15px;
            text-decoration: none;
        }

        nav a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body class="p-4 text-light">

    <nav class="mb-4">
        {% if session.user %}
        Logged in as <b>{{ session.user }}</b> |
        <a href="{{ url_for('feed') }}">Home</a>
        <a href="{{ url_for('upload') }}">Upload</a>
        <a href="{{ url_for('profile') }}" class="btn btn-outline-light ms-2">Profile</a>
        {% if session.user == ADMIN_EMAIL %}
        | <a href="{{url_for('admin_feedback')}}">Feedbacks</a>
        {% endif %}


        {% if session['user'] == ADMIN_EMAIL %}
        <a href="/admin" class="btn btn-outline-warning mx-3">Admin</a>
        {% endif %}

        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info">
        {% for m in messages %}<div>{{ m }}</div>{% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}

</body>

</html>