{% extends "base.html" %}
{% block body %}
<div class="login-box">
    <h2>Reset Password</h2>

    <form method="POST">
        <label>Enter your email</label>
        <input type="email" name="email" class="form-control mb-3" required>

        <button class="btn-login">Send OTP</button>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning mt-3">
        {% for m in messages %} {{ m }} {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}